# Server Configuration
HOST=0.0.0.0
PORT=8080

# ClickHouse Database Configuration
# Local default port for ClickHouse HTTP interface is 8123
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DATABASE=default
CLICKHOUSE_SECURE=False
